@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&display=swap');

body {
    margin: 0;
    background-color: black;
    box-sizing: border-box;
}

header {
    background-color: #39394D;
    padding-right: 10px;
    text-align: right;
}

.container {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #39394D;
    height: 100%;
    width: 76%;
    margin-right: 12px;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post {
    background-color: #6B6B8E;
    width: 48%;
    margin-top: 10px;
    border-radius: 20px;
    min-height: 35vh;
}

.profile-picture {
    margin-top: 10px;
    margin-left: 10px;
}

.username {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

.username p {
    margin: 0;
}

.time {
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 400;
}

.action-post {
    display: flex;
    width: fit-content;
}

.action {
    width: 75px;
    display: flex;
    align-items: center;
    line-height: 3;
    justify-content: space-around;
    flex-direction: column;
}

.content {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    margin-left: 6px;
    
}

.content p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin: inherit;
    display: flex;
    max-width: 90%;
}

/* Style de la scrollbar par défaut de la page */

body {
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #39394D;
}

body::-webkit-scrollbar-thumb {
    background-color: #6B6B8E;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #8C8CA6;
}

body::-webkit-scrollbar-track {
    background-color: #39394D;
}

body::-webkit-scrollbar-track:hover {
    background-color: #4D4D63;
}

/* Fin du style de la scrollbar par défaut de la page */

.aside {
    width: 24%;
    position: sticky;
    top: 10px;
    height: calc(100vh - 120px);
}

.user {
    background-color: #39394D;
    height: 28vh;
    border-radius: 20px;
    margin-bottom: 9px; 
}

.search {
    background-color: #39394D; 
    height: 70vh;
    border-radius: 20px;
}

.searchbar {
    background-color: #C5C5CF;
    height: 6vh;
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border: 0;
}

.searchbar::placeholder {
    color: #494949;
    font-style: italic;
}

.searchbutton {
    height: 6vh;
    width: 15%;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    background-color: #C5C5CF;
}

.search-result {
    background-color: #C5C5CF;
    margin-top: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    min-height: 59vh;
}

footer {
    background-color: black;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 7vh;
}

.footer-content {
    display: flex;
    color: white;
    position: fixed;
}