@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,600;0,800;1,100&display=swap');


body {
    --first-background-color: black;
    --main-background-color: #39394D;
    --post-background-color: #6B6B8E;
    --time-color: #BDBDBD;
    margin: 0;
    background-color: var(--first-background-color);
    box-sizing: border-box;
}

header {
    background-color: var(--main-background-color);
    padding-right: 10px;
    min-height: 120px;
    display: flex;
}

.header-logo {
    position: absolute;
    right: 0;
}

.container {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    min-height: 100vh;
}

#no-connexion {
    display: none;
    height: 10%;
    width: 100%;
    background-color: var(--main-background-color);
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

#no-connexion-container {
    display: none;
    justify-content: center;
    color: white;
    padding: 20px;
    border-radius: 20px;
    background-color: #2B2B3F;
}

#connected {
    text-decoration: underline;
    color: white;
    transition: 0.3s;
}

#connected:hover {
    color: #BDBDBD;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--main-background-color);
    height: 100%;
    width: 76%;
    margin-right: 12px;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post {
    
    background-color: var(--post-background-color);
    width: 48%;
    margin-top: 10px;
    border-radius: 20px;
    min-height: 270px;
    max-height: 270px;
    margin-right: 10px;
    margin-left: 10px;
    animation: post-up 1s ease-out;
}

@keyframes post-up{
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.profile-picture {
    margin-top: 10px;
    margin-left: 10px;
}

.username {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
}

.username p {
    margin: 0;
}

.time {
    color: var(--time-color);
    font-size: 14px;
    font-weight: 400;
}

.action-post {
    display: flex;
    max-width: 100%;
}

.action {
    min-width: 65px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    line-height: 3;
    flex-direction: column;
    min-height: 100%;
    max-height: 108px;
}

.content {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 80%;
    display: flex;
    margin-left: 12px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.content p {
    margin: 0;
}

.end-content {
    display: flex;
}

.supp-post {
    margin-left: 10px;
    background-color: var(--post-background-color);
    border: none;

}

/* Style de la scrollbar par défaut de la page */

body {
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: var(--main-background-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--post-background-color)
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #8C8CA6;
}

body::-webkit-scrollbar-track {
    background-color: var(--main-background-color);
}

body::-webkit-scrollbar-track:hover {
    background-color: #4D4D63;
}

/* Fin du style de la scrollbar par défaut de la page */

.aside {
    width: 24%;
    position: sticky;
    top: 10px;
    height: calc(100% - 120px);
    animation: aside-down 1s ease-out;
}

@keyframes aside-down{
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.user {
    display: flex;
    background-color: var(--main-background-color);
    height: 28vh;
    border-radius: 20px;
    margin-bottom: 9px; 
    align-items: center;
}

.user h1 {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 24px;
    justify-content: flex-end;
}

.user-profile {
    margin-left:20px;
}

.profile-action {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.deconnexion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.deconnexion button {
    background-color: transparent;
    border: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

.status {
    flex-direction: column;
    color: white;
}

#connexion {
    margin-top: 2px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #00AB07;
}

#pseudo {
    margin: inherit;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.search {
    background-color: var(--main-background-color);
    height: 100%;
    padding-bottom: 10px;
    border-radius: 20px;
}

.searchbar {
    background-color: #C5C5CF;
    height: 6vh;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
    margin-top: 10px;
    margin-left: 13px;
    padding-left: 10px;
    border: 0;
}

.searchbar::placeholder {
    color: #494949;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 15px;
}

.searchbar:focus {
    outline: none;
}

.searchbutton {
    height: 6vh;
    width: 20%;
    margin-right: 13px;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    background-color: #C5C5CF;
}

.search-result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #C5C5CF;
    color: #494949;
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 10px;
    min-height: 316px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.search-result ul {
    padding: 0;
    margin-left: 10px;
}

.search-result li {
    list-style: none;
}

.search-result button {
    background-color: #494949;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#post-button {
    position: fixed;
    bottom: 75px;
    right: 27%;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: #ffe60082;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }

    #post-button:hover {
        background-color: #FFE500;
    }

footer {
    background-color: var(--first-background-color);
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    color: #BDBDBD;
    position: fixed;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 1300px) {

    .post {
        width: 95%;
    }

    .user {
        height: 20vh;
    }

    .user-profile {
        height: 90%;
        width: 40%;
    }  

    #pseudo {
        font-size: 20px;
    }

    #connexion {
        font-size: 12px;
    }

    .searchbar {
        width: 60%;
    }

    .searchbutton {
        width: 28%;
    }

    .search-result {
        text-align: center;
    }

    #post-button {
        right: 28%;
    }


}

@media screen and (max-width: 1000px) {

    .user {
        flex-direction: column;
    }

    .user-profile {
        margin-left: 0;
        margin-top: 10px
    }

    .profile-action {
        height: min-content;
        flex-direction: row;
        margin-bottom: 8px;
        margin-top: 2px;
    }

    .status {
        display: flex;
        flex-direction: column-reverse;
    }

    #connexion {
        display: none;
    }

    .searchbar {
        width: 56%;
    }

}

@media screen and (max-width: 750px) {
    
    .aside {
        display: none;
    }

    .main {
        margin-right: 0;
        width: 100%;
    }

    #post-button {
        right: 6%;
    }

}