@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
  }

  header{
    height: 120px;
    width: 100%;
    background-color: #39394D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
  }

  header img {
    justify-content: flex-end;
  }

  header span {
    position: fixed;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #39394D;
    overflow-x: hidden;
    padding-top: 90px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c0c0c0;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav:hover {
    width: 260px; /* Ajustez la largeur selon vos préférences */
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
    margin-left: 8px;
    z-index: 2;
    user-select: none;
    background-color: #39394D;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    position: fixed;
    top: 28px;
    left: 0; 
  }

  .openbtn:hover {
    background-color: #434358;
  }